body {
    background-image: url('download.jpg');
    font-family: Arial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 97.7vh;
    margin: 0; 
}

.título {
    color: aliceblue;
    text-align: center;
}

.parágrafo {
    text-align: center;
    color: aliceblue;
}

.parágrafo {
    background-color: #2C3E50;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    margin: auto;
}
