body {
    background-image: url('download.jpg');
    font-family: Arial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 97.7vh;
    margin: 0; 
}

.título {
    color: aliceblue;
}

.parágrafo {
    color: aliceblue;
}
