body {
    font-family: Arial;
    background-color: #2C3E50;
}

h1 {
    text-align: center;
    color: aliceblue;
}

/*Muda a cor do valor original*/
.valorOriginal {
    color: #8f8e8e;
}

/*Deixa tudo ordenadinho legal*/
.lista_ofertas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/*Cria a borda ao redor da imagem*/
.card {
    background-color: white;
    border: 1px solid #c7c7c7;
    border-radius: 8px;
    padding: auto;  
    width: 500px;
    text-align: center;
}

/*Imagem se adapta ao card*/
.card img {
    width: 100%;
    height: auto;
}

/*Alterações na fonte*/
.preco_desconto {
    font-weight: bold;
    font-size: 20px;
}