body {
    font-family: Arial;
    background-color: #F5F7FA;
    text-align: center;
    padding: 0 15px;
}

label {
    font-weight: bold;
    text-align: left;
    color: aliceblue;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    border: 2px solid #6b6b6b;
    border-radius: 8px;
    margin: 0 auto;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
}

.container {
    margin: 50px auto;
    background-color: #2C3E50;
    width: 90%;
    max-width: 600px;
    border-radius: 15px;
    color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 10px 20px black;
}

.botao_entrar {
    border: #F5F7FA;
    border-radius: 8px;
    background-color: rgb(53, 248, 128);
    width: 100px;
    height: 40px;
    font-size: large;
    display: block;
    margin: auto;
}
