body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: grey;
}

.container {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.testemunho {
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* estilisa depoimento */
blockquote {
    margin-top: 15px;
    color: #555;

    font-style: italic;
}